.container-fluid{
  background-color: aliceblue;
  height: 100%;
}
.example-card {
    height: 300px;
  }
  
  .profile-image {
    background-image: url('src/assets/images/profile.png');
    background-size: cover;
    width: 120px;
    height: 120px;
  }
  .inactive{
    border: 4px solid aliceblue;
  }
  .active{
    border: 4px solid #00FF00;
  }
  :host ::ng-deep  .mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-subtitle{
    font-size: 13px;
  }
  :host ::ng-deep .mat-mdc-dialog-container.mdc-dialog__surface{
    overflow: hidden !important;
}