<div class="row">
    <div class="formWrapper">
        <form [formGroup]="form" class="d-flex flex-column p-3" (ngSubmit)="submitForm()">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" placeholder="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="active">male</mat-option>
                  <mat-option value="inactive">female</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Select Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="active">active</mat-option>
                  <mat-option value="inactive">inactive</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-button [disabled]="!form.valid">Add User</button>

        </form>
    </div>
</div>
